html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}



/* color */

.darkgrey {
  color: #404040;
  font-weight: 700;
}

.title-grey {
  color: #454545;
}

.mediumgrey-background {
  //background-color: red;
  background-color: #D1D1D1;
}

.lightgrey-background {
  background-color: #EDEDED;
}

/* header and menu section */
header {
  display: flex;
  width: 100%;
  background-color: #FFF;
  height: 4rem;
}

header #toplogo {
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  padding: 1rem 1.5rem;
}

#toplogo img {
  height: 3rem;
}

header h1 {
  font-size: 2rem;
  color: #7F7F7F;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#menu span {
  margin: 0rem 0.5rem;
}

#menu:last-child {
  margin-right: 1.5rem;
}


/* first block of content */


.image60 {
  width:60%;
  margin: 2rem 1.5rem;
}

.image60 img {
  width: 100%;
}

.text40 {
  display: flex;
  align-items: center;
  width:40%;
  margin: 2rem 0rem;
}

.text40 h2 {
  font-family: 'Fira+Sans', sans-serif;
  font-size: 2.65rem;
  font-weight: 900;
  line-height: 1.3;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin: 1.75rem 0rem;
  line-height: 1.5;
}

.button {
  background-color: #4A4A4A;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.button a {
  color: #FFF;
}

#eighty {
  width: 80%;
}


/* second block of content (information) */

#secondh2 {
  font-size: 2rem;
  font-family: 'Fira+Sans', sans-serif;
  font-weight: 900;
  margin: 2rem 0rem 1.5rem 0rem;
}

.blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.by {
  margin: 2rem 0rem;
}

.textcolumn {
  display: flex;
  width:40%;
  margin: 2rem 0rem;
}


.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image35 {
  width: 35%;
  margin: 0rem 1rem 1rem 1rem;
}

.image35 img {
  width: 100%;
  height: auto;
}

.image35b {
  width: 35%;
  margin: 1rem;
}

.image35b img {
  width: 100%;
  height: auto;
}

.image35dark {
  width: 35%;
  margin: 1rem;
}

.image35dark img {
  width: 100%;
  height: auto;
}

.text65 {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 1rem;
}

.text65 h3 {
  font-family: 'Fira+Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.text65-description {
  margin: 0.5rem 0rem;
  line-height: 1.6;
}

.readmore a {
  color: #404FD1;
}

.row {
  display: flex;
  flex-direction: row;
}

/* third block of content (courses) */

.courseh2 {
  text-align: center;
  font-family: 'Fira+Sans', sans-serif;
  font-size: 2.65rem;
  font-weight: 900;
  line-height: 1.3;
  padding: 2rem 0rem;
}

.courseboxbg h3 {
  font-family: 'Fira+Sans', sans-serif;
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 700;
}

.courseboxbg p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: 300;
  line-height: 1.4;
}

#coursegrid {
  display: flex;
  flex-direction: row;
  padding: 0rem 4.5rem 2rem 4.5rem;
}

.coursebox {
  width: 33.3%;
  flex-direction: column;
  margin-right: 2rem;
}

.coursebox img {
  width: 100%;
  margin-bottom: 0rem;
}

.coursebox-center {
  width: 33.3%;
  flex-direction: column;
  margin-right: 2rem;
}

.coursebox-center img {
  width: 100%;
}

.coursebox-right {
  width: 33.3%;
  flex-direction: column;
}

.coursebox-right img {
  width: 100%;
}

.courseboxbg {
  background-color: #FFF;
  height: 13rem;
}

/* fourth block of content (video content) */

.thesish2 {
  text-align: center;
  font-family: 'Fira+Sans', sans-serif;
  font-size: 2.65rem;
  font-weight: 900;
  padding: 1.8rem 0rem;
}

video {
  width: 100%;
}
